<div>
    <label id="userEmailLabel" for="userEmail">User Email</label>
    <input type="text" id="userEmail" placeholder="enter email" [(ngModel)]="userEmail"/>
</div>
<div>
    <label id="userPwdLabel" for="userPwd">Password</label>
    <input type="text" id="userPwd" [(ngModel)]="password" />
</div>
<button type="submit" (click)="SubmitLogin()">Login</button>

<router-outlet></router-outlet>